[submodule "libs/internal/VectorPro"]
	path = libs/internal/VectorPro
	url = https://github.com/privateMwb/VectorPro
[submodule "libs/internal/HashMapPro"]
	path = libs/internal/HashMapPro
	url = https://github.com/privateMwb/HashMapPro
[submodule "libs/internal/FunctionPro"]
	path = libs/internal/FunctionPro
	url = https://github.com/privateMwb/FunctionPro
